.bestsellers {
    margin: 140px 0;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.content {
    display: flex;
    align-items: center;
    column-gap: 86px;
}

.slider {
    display: flex;
    column-gap: 30px;
    position: relative;
}

.text_img {
    position: absolute;
    top: 70%;
}

.description {
    font-size: 13px;
    color: #9A9DA0;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    border-bottom: 1px solid;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
}

.arrowR {
    transform: rotate(180deg);
    margin-left: 32px;
}

@media (max-width: 1400px) and (min-width: 991px) {
    
}

@media (max-width: 990px) and (min-width: 771px) {
    
}

@media (max-width: 770px) {
    
}







